<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CSS Database</title>
<link href="style.css" rel="stylesheet">

<header class="cssdb-header">
	<img class="cssdb-header-branding" src="https://rawgit.com/jonathantneal/media-expressions-spec/gh-pages/css-logo.svg" alt="CSS Logo" width="90" height="90">
	<div class="cssdb-header-heading">
		<h1 class="cssdb-header-title">What’s next for CSS?</h1>
		<p class="cssdb-header-desc">CSS Database is a comprehensive list of CSS features and their positions in the process of becoming implemented web standards.</p>
	</div>
	<a class="cssdb-header-link" href="https://github.com/jonathantneal/css-db#staging-process">What are the stages?</a>
</header>
<table class="cssdb-features">
	<thead>
		<tr>
			<th>Feature</th>
			<th>Stage</th>
			<th>Description</th>
			<th>Specification</th>
			<th>Polyfills</th>
		</tr>
	</thead>
	<tbody>${ features.map(
		(feature) => `<tr class="cssdb-feature">
			<td class="cssdb-feature-title">${ feature.title }</td>
			<td class="cssdb-feature-stage cssdb-stage-${ feature.stage === false ? 'rejected' : feature.stage }"><img src="https://jonathantneal.github.io/css-db/stage-${ feature.stage === false ? 'X' : feature.stage }.svg" alt="${ feature.stage === false ? 'Rejected' : `Stage ${ feature.stage }` }"></td>
			<td class="cssdb-feature-desc">${ feature.description }</td>
			<td class="cssdb-feature-spec"><a href="${ feature.specification }">${ feature.specification }</a></td>
			<td class="cssdb-feature-fill">${ feature.polyfills && feature.polyfills.length ? `<ul>${ feature.polyfills.map((polyfill) => `<a href="${ polyfill.link }">${ polyfill.name }</a>`) }</ul>` : '' }</td>
		</tr>`
	) }</tbody>
</table>
<script>
Array.prototype.forEach.call(
	document.querySelectorAll('.cssdb-feature-stage'),
	($stage) => {
		const alt = {
			0: 'This is an Editor’s Draft championed by a non-CSSWG member. It should be considered highly unstable and subject to change.',
			1: 'This is an Editor’s Draft championed by a CSSWG member. It should still be considered highly unstable and subject to change.',
			2: 'This is an Editor’s Draft hosted by the CSS or W3C. It should still be considered highly unstable and subject to change.',
			3: 'This is a Working Draft Draft hosted by the CSSWG or W3C and requiring implementations to move forward. It should be considered stable and subject to little change. It is still subject to rejection as a standard.',
			4: 'This is a Candidate Recommendation hosted by the CSSWG or W3C and being implemented by at least 2 recognized browser vendors, possibly behind a flag. It should be considered stable and subject to little change. It will likely become a standard.',
			5: 'This is a Recommendation hosted by the CSSWG or W3C and implemented by all recognized browser vendors. It is a standard.',
			rejected: 'This specification has been rejected or neglected by its editor, or formally rejected by the CSSWG.'
		};

		const stage = $stage.className.replace(/cssdb-feature-stage cssdb-stage-/, '');

		$stage.firstChild.setAttribute('title', alt[stage]);
	}
)
</script>
