@font-face {
	font-display: swap;
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 400;
	src: local("Avenir Next Medium"), local("AvenirNext-Medium"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-Medium.woff2") format("woff2"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-Medium.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Avenir Next";
	font-style: italic;
	font-weight: 400;
	src: local("Avenir Next Medium Italic"), local("AvenirNext-MediumItalic"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-MediumItalic.woff2") format("woff2"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-MediumItalic.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 700;
	src: local("Avenir Next Bold"), local("AvenirNext-Bold"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-Bold.woff2") format("woff2"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-Bold.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Avenir Next";
	font-style: italic;
	font-weight: 700;
	src: local("Avenir Next Bold Italic"), local("AvenirNext-BoldItalic"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-Bold.woff2") format("woff2"), url("https://d32ekf2zat2q3c.cloudfront.net/Client/AMN+Healthcare/fonts/AvenirNext-Bold.woff") format("woff");
}

/* Document
/* ========================================================================== */

html {
	--main-font: "Avenir Next", sans-serif;
	--code-font: "Source Code Pro", "Andale Mono WT", "Andale Mono", "Consolas", "Lucida Console", monospace;

	scroll-behavior: smooth;

	@media screen and (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font: 400 100%/1.5 sans-serif;
	font-family: var(--main-font);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	letter-spacing: -.0013em;
	padding: 0 calc((100% - 960px) / 2);
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	transition: 400ms background-color, 400ms color;

	@media (width < 560px) {
		margin: 16px;
	}

	@media (width >= 560px) {
		margin: 32px 64px;
	}

	@media (prefers-color-scheme: dark) {
		background-color: #151515;
		color: #eaffe5;
	}
}

a {
	color: #07d;
	text-decoration: none;

	@media (prefers-color-scheme: dark) {
		color: #0081f2;
	}
}

aside,
header,
main,
section {
	display: block;
}

code,
pre {
	font-family: var(--code-font);
	font-size: 100%;
	font-weight: 600;
}

code {
	font-family: var(--code-font);
	font-size: 90%;
	letter-spacing: -.0125em;

	&::before {
		content: "‘";
		font-family: var(--main-font);
		padding-inline-end: .125em;
	}

	&::after {
		content: "’";
		font-family: var(--main-font);
		padding-inline-start: .125em;
	}
}

img {
	border: 0;
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Header
/* ========================================================================== */

.cssdb-header {
	@media (width >= 960px) {
		align-items: center;
		display: flex;

		& > * {
			display: inline-block;
			vertical-align: top;
		}

		& > script {
			display: none;
		}
	}
}

.cssdb-header-branding {
	flex-shrink: 0;
	height: 114px;
	margin-inline-end: 36px;
	width: 114px;

	@media (width < 960px) {
		float: inline-start;
		margin-block-end: 20px;
	}
}

.cssdb-header-heading {
	flex-grow: 1;
}

.cssdb-header-title {
	font-size: 30px;
	line-height: 1;
	margin: 0 0 12px;
}

.cssdb-header-desc {
	color: #616161;
	font-size: 14px;
	line-height: calc(18 / 14);
	margin: 0;
	max-width: 44em;
}

.cssdb-header-link {
	margin-inline-start: 60px;
	text-align: end;
	white-space: nowrap;
}

/* Features
/* ========================================================================== */

.cssdb-feature {
	margin-block-start: 80px;
}

.cssdb-feature-header {
	display: grid;
	gap: 5px 15px;
	grid:
		"stage title"
		"stage description"
		/ 62px auto;
}

.cssdb-feature-stage {
	grid-area: stage;
}

.cssdb-feature-stage-image {
	height: 62px;
	width: 62px;
	display: block;
}

.cssdb-feature-heading {
	font-size: 1.17em;
	grid-area: title;
	margin: 0;

	& a {
		color: inherit;
	}
}

.cssdb-feature-description {
	grid-area: description;
	margin: 0;
}

.cssdb-feature-docs {
	font-size: 87.5%;
	margin-block-start: 20px;
}

.cssdb-feature-docs-link {
	font-weight: 700;
	text-transform: uppercase;
}

.cssdb-feature-polyfills {
	display: flex;
	flex-wrap: wrap;
	font-size: 87.5%;
	margin-top: 5px;

	&:dir(rtl) {
		flex-direction: column;
	}
}

.cssdb-feature-polyfill-list {
	list-style: none;
	margin: 0;
	padding: 0;

	&:dir(ltr) {
		margin-left: .5em;
	}
}

.cssdb-feature-polyfill-link {
	font-weight: 700;
	text-transform: uppercase;
	background-image: linear-gradient(currentColor 25%, transparent 50%);
	background-position: 200% 100%;
	background-repeat: no-repeat;
	background-size: 200% 2px;
	padding-block-end: 2px;
	transition: background-position 250ms;

	&:hover {
		background-position: 100% 100%;
	}
}

.cssdb-feature-polyfill-item {
	display: flex;
	flex-wrap: wrap;
	margin-block-end: 7px;
	column-gap: 5px;

	& .cssdb-feature-polyfill-stars {
		margin-inline-start: 3px;

		& img {
			height: 20px;
		}
	}

	& .cssdb-feature-polyfill-stars-minimal {
		overflow: hidden;

		& img {
			height: 20px;
			margin-inline-start: -56px;
		}
	}
}

.cssdb-feature-preset-env-badge-link {
	margin-inline-start: 10px;
}

/* Examples
/* ========================================================================== */

.cssdb-feature-example {
	background-color: #f7f7f7;
	color: #727272;
	overflow: auto;
	padding: 20px 15px;
	transition: 400ms background-color, 400ms color;

	@media (prefers-color-scheme: dark) {
		background-color: #202020;
		color: #878787;
	}
}

.css-selector {
	color: #007500;

	@media (prefers-color-scheme: dark) {
		color: #14cc14;
	}
}

.css-property {
	color: #05a;

	@media (prefers-color-scheme: dark) {
		color: #498ef5;
	}
}

.css-atrule-name {
	color: #a00909;

	@media (prefers-color-scheme: dark) {
		color: #e95353;
	}
}

.css-comment {
	color: #727272;

	@media (prefers-color-scheme: dark) {
		color: #878787;
	}
}

.css-value,
.css-atrule-params {
	color: #000;

	@media (prefers-color-scheme: dark) {
		color: #e8e8e8;
	}
}

.css-function {
	color: #0072d4;

	@media (prefers-color-scheme: dark) {
		color: #91b8f2;
	}
}

.css-string {
	color: #9f6500;

	@media (prefers-color-scheme: dark) {
		color: #ae7d4d;
	}
}

.css-var {
	color: #248400;

	@media (prefers-color-scheme: dark) {
		color: #55964d;
	}
}

/* Browsers
/* ========================================================================== */

.cssdb-feature-caniuse {
	display: inline-flex;
	flex-wrap: wrap;
	margin-block-start: 5px;
}

.cssdb-browser {
	display: inline-block;
	height: 46px;
	margin-block-end: 12px;
	position: relative;
	width: 32px;

	&:empty {
		display: none;
	}

	&:not(:last-child) {
		margin-inline-end: 6px;
	}

	&::before {
		display: inline-block;
		height: 32px;
		line-height: 0;
		vertical-align: top;
		width: 32px;
	}
}

.cssdb-browser-version {
	display: block;
	font-size: 10px;
	line-height: 10px;
	padding-block-start: 4px;
	text-align: center;
}

.cssdb-browser--and_chr::after,
.cssdb-browser--and_ff::after,
.cssdb-browser--and_qq::after,
.cssdb-browser--kaios::after,
.cssdb-browser--and_uc::after {
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #8bc34a;
	content: url("/images/browsers/and.svg");
	display: block;
	height: 12px;
	inset-block-end: 14px;
	inset-inline-end: -2px;
	line-height: 0;
	padding: 2px;
	position: absolute;
	width: 12px;
	z-index: 1;

	@media (prefers-color-scheme: dark) {
		background-color: #111;
	}
}

.cssdb-browser--ie_mob::after,
.cssdb-browser--ios_saf::after,
.cssdb-browser--op_mini::after,
.cssdb-browser--op_mob::after {
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #474748;
	content: url("/images/browsers/mob.svg");
	display: block;
	height: 12px;
	inset-block-end: 14px;
	inset-inline-end: -2px;
	line-height: 0;
	padding: 2px;
	position: absolute;
	width: 12px;
	z-index: 1;

	@media (prefers-color-scheme: dark) {
		background-color: #111;
		content: url("/images/browsers/mob@dark.svg");
	}
}

.cssdb-browser--and_uc::before,
.cssdb-browser--kaios::before {
	content: url("/images/browsers/and_uc.svg");
}

.cssdb-browser--and_qq::before {
	content: url("/images/browsers/and_qq.svg");
}

.cssdb-browser--android::before {
	content: url("/images/browsers/android.svg");
}

.cssdb-browser--baidu::before {
	content: url("/images/browsers/baidu.svg");

	@media (prefers-color-scheme: dark) {
		content: url("/images/browsers/baidu@dark.svg");
	}
}

.cssdb-browser--bb::before {
	content: url("/images/browsers/bb.svg");

	@media (prefers-color-scheme: dark) {
		content: url("/images/browsers/bb@dark.svg");
	}
}

.cssdb-browser--chrome::before,
.cssdb-browser--and_chr::before {
	content: url("/images/browsers/chrome.svg");
}

.cssdb-browser--edge::before {
	content: url("/images/browsers/edge.svg");
}

.cssdb-browser--firefox::before,
.cssdb-browser--and_ff::before {
	content: url("/images/browsers/firefox.svg");
}

.cssdb-browser--ie::before,
.cssdb-browser--ie_mob::before {
	content: url("/images/browsers/ie.svg");
}

.cssdb-browser--ios_saf::before {
	content: url("/images/browsers/ios_saf.svg");

	@media (prefers-color-scheme: dark) {
		content: url("/images/browsers/ios_saf@dark.svg");
	}
}

.cssdb-browser--opera::before,
.cssdb-browser--op_mini::before,
.cssdb-browser--op_mob::before {
	content: url("/images/browsers/opera.svg");
}

.cssdb-browser--safari::before {
	content: url("/images/browsers/safari.svg");
}

.cssdb-browser--samsung::before {
	content: url("/images/browsers/samsung.svg");
}

/* Process
/* ========================================================================== */

.cssdb-process {
	margin-block: 90px;

	& h2 {
		box-shadow: inset 0 -1px 0 0 #eaecef;
		font-size: 150%;
		padding-block-end: 10px;

		@media (prefers-color-scheme: dark) {
			box-shadow: inset 0 -1px 0 0 #151310;
		}
	}

	& h2:nth-of-type(2) {
		margin-block-start: 3em;
	}

	& :matches(h1, h2, h3, h4, h5, h6) a {
		color: inherit;
		position: relative;

		&::before {
			content: "#";
			display: inline-block;
			inset-inline-start: -.75em;
			opacity: 0;
			position: absolute;
			transition: opacity 500ms;
		}

		&:hover::before {
			opacity: 1;
		}
	}

	& h3 {
		font-size: 1.125em;
		line-height: 1.2223;

		&:first-of-type {
			margin-block-start: 3em;
		}
	}

	& p a {
		background-image: linear-gradient(currentColor 25%, transparent 50%);
		background-position: 200% 100%;
		background-repeat: no-repeat;
		background-size: 200% 2px;
		cursor: pointer;
		padding-block-end: 2px;
		transition: background-position 250ms;

		&:hover {
			background-position: 100% 100%;
		}
	}

	& blockquote {
		border-left: .25em solid #dfe2e5;
		color: #6a737d;
		letter-spacing: .05em;
		padding-inline: 1em;

		@media (prefers-color-scheme: dark) {
			border-left-color: #201d1a;
			color: #787f88;
		}
	}

	& hr {
		background: #e1e4e8;
		border: none;
		height: .25em;
		margin: 24px 0;
		overflow: hidden;
		padding: 0;

		@media (prefers-color-scheme: dark) {
			background: #1e1b17;
		}
	}

	& img[align="left"] {
		margin-inline-end: 20px;
	}
}

/* Color Scheme Toggle
/* ========================================================================== */

.cssdb-color_scheme_toggle {
	display: inline-block;
	position: absolute;

	@media (width < 560px) {
		inset-inline-end: 16px;
	}

	@media (560px <= width < 960px) {
		inset-inline-end: 64px;
	}

	@media (width >= 960px) {
		inset-block-start: 32px;
		inset-inline-end: calc((100% - 960px) / 2);

		&:dir(ltr) {
			transform: translateX(-100%);
		}

		&:dir(rtl) {
			transform: translateX(100%);
		}
	}

	& > input {
		appearance: none;
		height: 100%;
		inset-block: 0;
		margin: 0;
		opacity: 0;
		position: absolute;
		z-index: 1;
	}

	& > :nth-child(1) {
		inset-inline-start: 0;
		width: 37.5%;
	}

	& > :nth-child(2) {
		inset-inline-start: 37.5%;
		width: 25%;
	}

	& > :nth-child(3) {
		inset-inline-start: 62.5%;
		width: 37.5%;
	}

	& > label::before {
		background-color: #f2f2f2;
		border-radius: 1.75em;
		box-shadow: 0 0 0 2px #ddd;
		content: "";
		display: block;
		height: 1.75em;
		transition: 200ms background-color, 200ms box-shadow;
		width: 4em;

		@media (prefers-color-scheme: dark) {
			background-color: #181818;
			box-shadow: 0 0 0 2px #333;
		}
	}

	& > input:nth-child(1):focus ~ label::before {
		box-shadow: 0 0 5px 0 #5e9ed7, 0 0 0 2px #333;
	}

	& > input:nth-child(2):focus ~ label::before {
		box-shadow: 0 0 3px 0 #3bb5fc, 0 0 0 2px #ddd;

		@media (prefers-color-scheme: dark) {
			box-shadow: 0 0 5px 0 #5e9ed7, 0 0 0 2px #333;
		}
	}

	& > input:nth-child(3):focus ~ label::before {
		box-shadow: 0 0 5px 2px #f0fc3b, 0 0 0 2px #ddd;
	}

	& > label::after {
		background-color: #fff;
		border-radius: 2.5em;
		box-shadow: 0 0 0 2px #ddd;
		content: "";
		height: 1.75em;
		inset-block-start: 0;
		position: absolute;
		transition: 200ms background-color, 200ms box-shadow, 200ms left, 200ms margin, 200ms width;
		width: 1.75em;

		@media (prefers-color-scheme: dark) {
			background-color: #181818;
			box-shadow: 0 0 0 2px #444;
		}
	}

	& > input:focus ~ label::after {
		box-shadow: 0 0 5px 2px #3b99fc, 0 0 0 2px #ddd;
	}

	& > input:nth-child(1):checked ~ label::after {
		inset-inline-start: 0;
	}

	& > input:nth-child(2):checked ~ label::after {
		inset-inline-start: 1.125em;
	}

	& > input:nth-child(3):checked ~ label::after {
		inset-inline-start: 2.25em;
	}

	& > input:active ~ :last-child::after {
		margin-inline-start: -.075em;
		width: 1.875em;
	}
}

.cssdb-deploys {
	text-align: center;
}

.cssdb-deploys__logo {
	display: inline-flex;
}
