---
import cssdb from '../../cssdb.json';
import cssdbSettings from '../../cssdb.settings.json';
import Feature from './feature.astro';
const features = cssdbSettings.map((feature, index) => ({ ...feature, ...cssdb[index] }))
	.sort((a, b) => b.stage - a.stage || (a.id < b.id ? -1 : a.id > b.id ? 1 : 0))
	.filter(feature => feature.stage >= 0);
---
<main class="cssdb-features" id="features">
	{ features.map(feature => <Feature feature={feature} />) }
</main>
