name: Has Changes
on:
  push:

jobs:
  has-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 'lts/*'
      - run: npm ci --ignore-scripts
      - run: npm run preparesite
      - name: Check if there are changes
        id: changes
        run: git diff --quiet --exit-code
