name: Has Changes
on:
  push:

jobs:
  has-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 'lts/*'
      - run: npm ci --ignore-scripts
      - run: npm run preparesite
      - name: Check if there are changes
        id: changes
        run: git diff --quiet --exit-code
