name: test
on:
  push:

permissions:
  contents: read

concurrency:
  group: test-branch-node-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22, 'lts/*']
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci --ignore-scripts
      - run: npm run test
