name: test-older-node
on:
  push:

permissions:
  contents: read

concurrency:
  group: test-older-node-branch-node-${{ github.ref }}
  cancel-in-progress: true

# TODO : delete this workflow on next major if we drop node 12, 14, 16 and 18

jobs:
  test-older-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16, 18]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: ${{ matrix.node }}

      - run: |
          NPM_CONFIG_ENGINE_STRICT=false npm install --ignore-scripts
      - run: npm run test:json
