name: test-older-node
on:
  push:

concurrency:
  group: test-older-node-branch-node-${{ github.ref }}
  cancel-in-progress: true

# TODO : delete this workflow on next major if we drop node 12, 14, 16 and 18

jobs:
  test-older-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16, 18]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: ${{ matrix.node }}

      - run: |
          NPM_CONFIG_ENGINE_STRICT=false npm install --ignore-scripts
      - run: npm run test:json
